@model HFS.Entities.Models.Quote

@{
    ViewBag.Title = "Details";
}

<h2>Quote Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_Last)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_Last)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_Change)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_Change)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_52Wk_High)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_52Wk_High)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_52Wk_Low)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_52Wk_Low)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
