@model IEnumerable<HFS.Entities.Models.Quote>

@{
    ViewBag.Title = "Index";
}

<h2>Quotes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Q_Last)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Q_Change)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Q_52Wk_High)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Q_52Wk_Low)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PEG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q_Last)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q_Change)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q_52Wk_High)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q_52Wk_Low)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PEG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
